.page-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .sad-face-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .error-code {
    font-size: 100px;
    margin: 0;
    color: #e74c3c;
  }
  
  .error-message {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
  }
  
  .error-description {
    font-size: 16px;
    color: #666;
  }
  
  