/* Navbar styling */
nav {
  overflow: hidden;
  background-color: #b30000;
  display: flex;
}

nav a {
  color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #eec0c6;
  color: black;
}
